.sconf_temp
.sconsign.dblite
config.log
tests.log
*.so
*.os
*.pyc
.obj
gs_scons.*
.*.swp
doc/html/*
doc/latex/*
docs/doxygen_example_output/*
.DS_Store
tests/nosetests.xml
examples/output/*
devutils/sizeof_SIFD
gs_error.txt
*junk*
debug.out
tmp*
examples_bin
*~
.cache
*.egg*
build
dist
.pytest_cache
