.sconf_temp
.sconsign.dblite
config.log
*.so
*.os
*.pyc
.obj
gs_scons.*
.*.swp
doc/html/*
doc/latex/*
docs/doxygen_example_output/*
.DS_Store
tests/nosetests.xml
examples/output/*
devutils/sizeof_SIFD
gs.error
*junk*
debug.out
