# I didn't try to figure out which versions of these are really required.  These are the
# current versions at the time of writing this (Jan, 2018), and they are known to work.

# These are in conda_requirements.txt.  If using that, you may prefer to do
#   conda install -c conda-forge --file conda_requirements.txt
# prior to running pip install -r requirements.txt
setuptools>=38
numpy>=1.13
future>=0.15
astropy>=2.0
pybind11>=2.2
pip>=18.0

# Note: 1.77 was supposed to make this work, but it doesn't include a couple cpp files, so
# it gives an error on installation.  Once the eigency people merge PR #27 and release another
# version with that included, we can switch this back to the regular eigency package.
# Until then, we can use rmjarvis.eigency, which includes the fix.
rmjarvis.eigency>=1.77.1

# Not technically required, but useful.
pyyaml>=3.12  # This one is required to run tests.
pandas>=0.20

# This is not in conda.  Let pip install these.
LSSTDESC.Coord>=1.0.5
starlink-pyast>=3.9.0  # Also not required, but useful.
